<div class="profile-wrap">
    <div class="main-image"></div>
    <h1>O biblioteci</h1>

    <p>All right, Doc, look. Once I get there I'll put them on, I promise. Okay, I think we're about ready. I put gas in
        the tank, your future clothes are packed, just in case fresh batteries for your walkie-talkies. Oh, and what about
        that floating device? Hoverboard. Alright. (he picks up the hoverboard and puts it in the Delorean.) You know Doc,
        it's gonna be a hell of long walk back to Hill Valley from here.(Biff presses a button which calls for security.)
        (Hallway) (Marty runs out of the room and sees the elevator. He runs to it, just as 3-D, Match and Skinhead come
        out of it.) 3-Hey, get back here! Hey, hey!Hook on! (The gang connect their hoverboards to Griff's. Marty is trying
        to move, he's pushing his foot in the water as if trying to start a skateboard.) Batter up! (The board blasts off.
        Griff and his gang are on the way! Marty tries pushing the board again, but it doesn't work. Griff is getting
        closer. Then, just as Griff would have got Marty, Marty jumps off the board and lands in the water. Griff's board
        catches on a rock and Griff and his gang all fall off. They fly through the air and smash through the front window
        of Courthouse Mall. Marty resurfaces.) Holy shit! (He grabs the hoverboard and gets out of the water. Cut to Biff.)
        Buttheads.Marty, please don't stand there!! Oh, right, sorry. I gotta get another picture. Takes picture of
        tombstone. "...shot in the back by Buford Tannen over a matter of 80 dollars!" What kind of a future do you call
        that?! (Hill Valley Library) (The Library is obviously closed for the night, but Doc and Marty manage to break in
        and are going over old newspapers.)(Marty wanders around and spots another Election Van driving around.) Remember,
        fellas, the future is in your hands. If you believe in progress, re-elect Mayor Red Thomas, progress is his middle
        name. Mayor Red Thomas's progress platform means more jobs, better education, bigger civic improvements, and lower
        taxes. On election day, cast your vote for a proven leader, re-elect Mayor Red Thomas... (A man throws a newspaper
        away and Marty picks it up and sees the date as November 5th, 1955.) This has gotta be a dream. (He spots a coffee
        shop and goes in.)This says September 1st, 1885. I never knew I could write anything so touching. Standing up and
        going over to Doc. I know, I know Doc, it's beautiful. (Copernicus whines.) Oh, it's all right, Copernicus!
        Everything's going to be fine. I'm sorry, Doc, it's all my fault you're stuck back there. I never should've let Biff
        get to me.
    </p>
</div>
