<div class="booksFound">
    <table>
        <tr>
            <th>Inventarni broj</th>
            <th>Naziv knjige</th>
            <th>Autor</th>
        </tr>
        <tr>
            <td>Proba</td>
            <td>Proba</td>
            <td>Proba</td>
            <td>Proba</td>
        </tr>
        <tr>
            <td>Proba</td>
            <td>Proba</td>
            <td>Proba</td>
            <td>Proba</td>
        </tr>
    </table>
</div>