<h1>Digitalna biblioteka</h1>
<div class="collectionButtons">
    <ul>
        <li>
            <button id="btn" type="button" onclick="alert('Kolekcija 1!')">Kolekcija 1</button>
        </li>
        <li>
            <button id="btn" type="button" onclick="alert('Kolekcija 2')">Kolekcija 2</button>
        </li>
        <li>
            <button id="btn" type="button" onclick="alert('Kolekcija 3')">Kolekcija 3</button>
        </li>
        <li>
            <button id="btn" type="button" onclick="alert('Kolekcija 4')">Kolekcija 4</button>
        </li>
        <li>
            <button id="btn" type="button" onclick="alert('Hello world!')">Kolekcija 5</button>
        </li>
        <li>
            <button id="btn" type="button" onclick="alert('Hello world!')">Kolekcija 6</button>
        </li>
    </ul>
</div>