<div id="div1" onclick="location.href='about';">
</div>
{{#if login}}
<div id="div2" onclick="location.href='user/profile';">
    {{else}}
    <div id="div2" onclick="location.href='user/login';">
    {{/if}}
</div>
<div id="div3" onclick="location.href='searchLibrary';">
</div>
<div id="div4" onclick="location.href='digitalLibrary';">
</div>