<div id="div1" onclick="location.href='about';">
</div>
<div id="div2" onclick="location.href='login';">
</div>
<div id="div3" onclick="location.href='searchLibrary';">
</div>
<div id="div4" onclick="location.href='digitalLibrary';">
</div>