<h1>Ulogujte se</h1>

<div class="login">
    <div class="loginContainer">
        <input type="text" placeholder="Enter Username" name="uname" id="uname" required>
        <br><br><br><br>
        <input type="password" placeholder="Enter Password" name="pwd" id="pwd" required>
    </div>
</div>

<div class="loginButton">
    <button id="loginButt" type="button" onclick="alert('Hello world!')">Log in!</button>
</div>

<br><br><br><br>

<div class="row">
    <div class="col-md4">

    </div>
</div>