<div class="profImg">
            <div class="profImgContainer">
                <img src="/public/images/profileImg.png" style="width:228px;height:228px;">
            </div>
        </div>

        <div class="personalData">
            <ul>
                <li>
                    <input type="text" placeholder="Ime korisnika" name="name" id="name">
                </li>
                <li>
                    <input type="text" placeholder="Prezime korisnika" name="lastName" id="lastName">
                </li>
                <li>
                    <input type="text" placeholder="Korisnicki broj" name="iserId" id="userId">
                </li>
                <li>
                    <input type="text" placeholder="Datum rodjenja" name="birthDate" id="birthDate">
                </li>
                <li>
                    <input type="text" placeholder="Datum isteka clanarine" name="expireDate" id="expireDate">
                </li>
            </ul>
        </div>

        <div class="booksTaken">
            <table>
                <tr>
                    <th>Naziv knjige</th>
                    <th>Autor</th>
                    <th>Datum zaduzenja</th>
                    <th>Rok vracanja</th>
                </tr>
                <tr>
                    <td>Proba</td>
                    <td>Proba</td>
                    <td>Proba</td>
                    <td>Proba</td>
                </tr>
                <tr>
                    <td>Proba</td>
                    <td>Proba</td>
                    <td>Proba</td>
                    <td>Proba</td>
                </tr>
            </table>
        </div>

        <div class="searchButton">
            <button id="btnHistory" type="button" onclick="alert('Hello world!')">Istorija zaduzenja</button>
        </div>