<h1>Pretraga biblioteke</h1>

        <div class="searchButtons">
                <button id="b1" type="button" onclick="alert('Hello world!')">Click Me!</button>
                <button id="b2" type="button" onclick="alert('Hello world!')">Click Me!</button>
                <button id="b3" type="button" onclick="alert('Hello world!')">Click Me!</button>
                <button id="b4" type="button" onclick="alert('Hello world!')">Click Me!</button>
                <button id="b5" type="button" onclick="alert('Hello world!')">Click Me!</button>
        </div>

        <div class="searchBox">
            <div class="searchBoxContainer">
                <span class="icon"><i class="fa fa-search"></i></span>
                <input type="search" id="search" placeholder="Search..." />
            </div>
        </div>

        <div class="searchButton">
            <button id="b" type="button" onclick="alert('Hello world!')">Search!</button>
        </div>

        <div>
            <form name="findBook" method="get" action="/findBook">

                <input type="text" name="bookQuery"><br>

                <input type="submit" value="Trazi">

            </form>
        </div>