<div class="profile-wrap">
    <h1>Rezultati pretrage</h1>

    <div class="row-fluid" data-toggle="collapse" data-target="#collapseTwo">
    <form method="post" name="getDigitalBook" action="getDigitalBook">
        <div class="booksFound">
            <table>
                <tr>
                    <th>Inventarni broj</th>
                    <th>Naziv knjige</th>
                    <th>Autor</th>
                    <th>Prikaži</th>

                </tr>

                {{#each digitalBooks}}
                    <tr>
                        <td class="span1">{{metadata.inventoryNumber}}</td>
                        <td class="span3">{{metadata.title}}</td>
                        <td class="span3">{{metadata.creator}}</td>
                        <td>
                            <input type="submit" class="button-default button-table input-button" name="button" value="{{_id}}">
                            <span class="text-add">Prikaži</span>
                        </td>
                    </tr>

                {{/each}}

            </table>
        </div>
    </form>
    </div>
</div>

