<div class="profile-wrap">
    <h1>Digitalna biblioteka</h1>

    <div class="searchBox">
        <div class="searchBoxContainer">
            <form name="findDigitalBook" method="post" action="findDigitalBooks">
                <div class="radio-button-wrap clearfix">
                    <div class="radio-button-container">
                        <input type="radio" name="typeQuery" value="naslov"> Naslov
                    </div>
                    <div class="radio-button-container">
                        <input type="radio" name="typeQuery" value="autor"> Autor<br>
                    </div>
                    <div class="radio-button-container">
                        <input type="radio" name="typeQuery" value="godina"> Godina izdanja<br>
                    </div>
                </div>

                <input type="text" class="search-field" id="digitalBookQuery" name="digitalBookQuery" placeholder="Search..." />
                <button  id="button2" class="button-default inline-button" type="submit">Search!</button>
            </form>
        </div>
    </div>
</div>